.App {
  text-align: center;
}

.single-image {
  width: 200px;
}

.back-button {
  width: 200px;
  height: 35px;
  border-radius: 100vw;
  cursor: pointer;
  font-weight: bold;
}

.back-button:hover {
  background-color: rgb(24, 143, 158);
  color: white;
  font-weight: bold;

